{% extends '_master.html' %}
{% load static %}
{% block content %}
<section id="home" class="home">
  <div class="row">
    <div class="images col-md-6">
      <img loading="lazy" src="{% static './images/index_img.jpg' %}" alt="" />
    </div>
    <div class="content col-md-6">
      <h1><span>Stay</span> Safe, <span>Stay</span> Healthy.</h1>
      <p style="text-transform: none;">
        At <strong>Dent Care</strong>, we believe that maintaining good oral health is key to overall well-being. Staying safe and healthy starts with regular dental check-ups, where our expert team ensures that any issues are caught early. With the latest technology and a compassionate approach, we create a safe environment for all our patients. We prioritize hygiene, safety protocols, and pain-free treatments to give you peace of mind. Healthy teeth not only enhance your smile but also contribute to better overall health, as poor oral hygiene can affect other areas of your body. Stay safe, stay healthy, and let us help you achieve the smile you deserve!
      </p>
    </div>
  </div>
</section>
<section id="about" class="about">
  <h1 class="heading">about our facility</h1>
  <h3 class="title">learn and explore our facility</h3>
  <div class="box-container">
    <div class="box">
      <div
        class="elementor-widget-container service-wrapper service-style-default service-light service-normal-model"
      >
        <div class="row">
          <div class="col-lg-4 col-md-4">
            <div class="service-inner">
              <div class="service-icon-img-wrap">
                <img
                  decoding="async"
                  src="{% static './images/root-canal-1.png' %}"
                  class="img-fluid service-icon-img"
                  alt="Scaling and Root Planing"
                />
              </div>
              <div class="entry-title">
                <h3 class="post-title-head">Scaling and Root Planing</h3>
              </div>
              <div class="post-excerpt">
                Scaling and Root Planing is a deep cleaning procedure that removes plaque and tartar buildup from below the gumline. It helps prevent gum disease, promote healing, and restore oral health.
              </div>
              <div class="post-thumb"><img
                    decoding="async"
                    src="{% static './images/services-1.jpg' %}"
                    title="services-1"
                    alt=""
                    class="img-fluid squared"
                />
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="service-inner">
              <div class="service-icon-img-wrap">
                <img
                  decoding="async"
                  src="{% static './images/teeth-cleaning.png' %}"
                  class="img-fluid service-icon-img"
                  alt="Teeth Whitening"
                />
              </div>
              <div class="entry-title">
                <h3 class="post-title-head">Teeth Whitening</h3>
              </div>
              <div class="post-excerpt">
                Teeth whitening is a cosmetic procedure that lightens discolored or stained teeth for a brighter, more confident smile. It’s a safe, quick, and effective solution to enhance your appearance.
              </div>
              <div class="post-thumb">
                <img
                    decoding="async"
                    src="{% static './images/services-9.jpg' %}"
                    title="services-9"
                    alt=""
                    class="img-fluid squared img-fluid squared"
                />
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="service-inner">
              <div class="service-icon-img-wrap">
                <img
                  decoding="async"
                  src="{% static './images/braces-2.png' %}"
                  class="img-fluid service-icon-img"
                  alt="Invisalign &amp; ClearCorrect"
                />
              </div>
              <div class="entry-title">
                <h3 class="post-title-head">Invisalign &amp; ClearCorrect</h3>
              </div>
              <div class="post-excerpt">
                Invisalign and ClearCorrect are clear aligner systems that straighten teeth discreetly and comfortably, offering a convenient alternative to traditional braces.
              </div>
              <div class="post-thumb">
                <img
                    decoding="async"
                    src="{% static './images/services-6.jpg' %}"
                    title="services-6"
                    alt=""
                    class="img-fluid squared img-fluid squared img-fluid squared"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4">
            <div class="service-inner">
              <div class="service-icon-img-wrap">
                <img
                  decoding="async"
                  src="{% static './images/dental-crown.png' %}"
                  class="img-fluid service-icon-img"
                  alt="Zirconium Crowns"
                />
              </div>
              <div class="entry-title">
                <h3 class="post-title-head">Zirconium Crowns</h3>
              </div>
              <div class="post-excerpt">
                Zirconium crowns are durable, natural-looking dental restorations that provide strength and aesthetic appeal.
              </div>
              <div class="post-thumb">
                <img
                    decoding="async"
                    src="{% static './images/services-2.jpg' %}"
                    title="services-2"
                    alt=""
                    class="img-fluid squared img-fluid squared img-fluid squared img-fluid squared"
                />
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="service-inner">
              <div class="service-icon-img-wrap">
                <img
                  decoding="async"
                  src="{% static './images/tooth.png' %}"
                  class="img-fluid service-icon-img"
                  alt="Partials &amp; Dentures"
                />
              </div>
              <div class="entry-title">
                <h3 class="post-title-head">Partials &amp; Dentures</h3>
              </div>
              <div class="post-excerpt">
                Partials and dentures are removable prosthetic devices that replace missing teeth, restoring both function and appearance.
              </div>
              <div class="post-thumb">
               <img
                    decoding="async"
                    src="{% static './images/services-4.jpg' %}"
                    title="services-4"
                    alt=""
                    class="img-fluid squared img-fluid squared img-fluid squared img-fluid squared img-fluid squared"
                />
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="service-inner">
              <div class="service-icon-img-wrap">
                <img
                  decoding="async"
                  src="{% static './images/tooth-extraction-2.png' %}"
                  class="img-fluid service-icon-img"
                  alt="Wisdom Tooth Extraction"
                />
              </div>
              <div class="entry-title">
                <h3 class="post-title-head">Wisdom Tooth Extraction</h3>
              </div>
              <div class="post-excerpt">
                Wisdom tooth extraction is a common procedure to remove impacted or problematic third molars.
              </div>
              <div class="post-thumb">
                <img
                    decoding="async"
                    src="{% static './images/services-7.jpg' %}"
                    title="services-7"
                    alt=""
                    class="img-fluid squared img-fluid squared img-fluid squared img-fluid squared img-fluid squared img-fluid squared"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="contact" class="contact">
  <div class="box">
   <h1 class="heading">Appoinment</h1>
   <h3 class="title">Reserve Appoinment with post.</h3>
 
   <div class="row">
        <div class="images col-md-6">
          <img loading="lazy" src="{% static './images/form.png' %}" alt="" />
        </div>
        <div class="form-container col-md-6 mx-auto p-4 shadow-lg rounded bg-light">
          <form action="{% url 'appointment' %}" method="post">
              {% csrf_token %}
              {% if errors %}
                <ul class="text-danger h6">
                    {% for field, field_errors in errors.items %}
                        <li><strong>{{ field }}:</strong>
                            <ul>
                                {% for error in field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
              {% endif %}
              <div class="form-group mb-4">
                  <label for="doctor" class="form-label h3">Choose Doctor:</label>
                  {{ appointForm.doctor }}
                  {% if appointForm.doctor.errors %}
                      <div class="text-danger mt-2">
                          {{ appointForm.doctor.errors }}
                      </div>
                  {% endif %}
              </div>
              <div class="form-group mb-4">
                  <label for="appointment_date" class="form-label h3">Choose Date:</label>
                  {{ appointForm.appointment_date }}
                  {% if appointForm.appointment_date.errors %}
                      <div class="text-danger mt-2">
                          {{ appointForm.appointment_date.errors }}
                      </div>
                  {% endif %}
              </div>
              <div class="d-grid">
                  <input type="submit" value="Submit">
              </div>
          </form>
      </div>
   </div>
  </div>
 </section>
<section id="doctor" class="card">
  <div class="container">
    <h1 class="heading">doctors</h1>
    <h3 class="title">our professional doctors</h3>
    <div class="box-container">
      {% for doctor in doctors %}
        
      <div class="box">
        <img loading="lazy" 
          src="{% if doctor.profile_img %}{{ doctor.profile_img.url }}{% else %}{% static 'images/default_doctor.jpg' %}{% endif %}" 
          alt="Doctor's Profile" />
        <div class="content">
          <a href="#">
            <h2>{{ doctor.user.first_name }} {{ doctor.user.last_name }}</h2>
          </a>
          <p><strong class="text-uppercase">{{ doctor.qualification }}</strong></p>
          <p>{{ doctor.specialization }}</p>
          <div class="icons">
            <a href="{{ doctor.facebook }}" class="fab fa-facebook-f"></a>
            <a href="{{ doctor.twitter }}" class="fab fa-x-twitter"></a>
            <a href="{{ doctor.instagram }}" class="fab fa-instagram"></a>
          </div>
        </div>
      </div>

      {% endfor %}
    </div>
  </div>
</section>
<!-- <section id="review" class="review">
  <h1 class="heading">our patient review</h1>
  <h3 class="title">what patient says about us</h3>
  <div class="box-container">
    <div class="box">
      <i class="fas fa-quote-left"></i>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus, sit
        quam ab at nulla quae excepturi laboriosam mollitia illo eius?
      </p>
      <div class="images">
        <img loading="lazy" src="{% static './images/img-1.jpg' %}" alt="" />
        <div class="info">
          <h3>john doe</h3>
          <span>date : 11 2024</span>
        </div>
      </div>
    </div>
    <div class="box">
      <i class="fas fa-quote-left"></i>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus, sit
        quam ab at nulla quae excepturi laboriosam mollitia illo eius?
      </p>
      <div class="images">
        <img loading="lazy" src="{% static './images/img-2.jpg' %}" alt="" />

        <div class="info">
          <h3>john doe</h3>
          <span>date : 11 2024</span>
        </div>
      </div>
    </div>
    <div class="box">
      <i class="fas fa-quote-left"></i>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus, sit
        quam ab at nulla quae excepturi laboriosam mollitia illo eius?
      </p>
      <div class="images">
        <img loading="lazy" src="{% static './images/img-3.jpg' %}" alt="" />

        <div class="info">
          <h3>john doe</h3>
          <span>date : 11 2024</span>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section id="blog" class="blog">
  <h1 class="heading">Dental News</h1>
  <div class="box-container">
    {% for post in posts %}
      
    <div class="box">
      <img loading="lazy" 
        src="{% if post.feature_img %}{{ post.feature_img.url }}{% else %}{% static './images/dental_hospital.png' %}{% endif %}" 
        alt="Doctor's Profile" style="height: 350px; max-height: 350px;" />
      <div class="content">
        <a href="{{ post.slug }}">
          <h2>{{ post.title }}</h2>
        </a>
        <p>
          {{ post.meta_description }}
        </p>
        <a href="{{ post.slug }}"> <button class="button">Read Post</button></a>
      </div>
    </div>

    {% endfor %}
  </div>
</section>
{% endblock content %}
